<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Liste des plongées</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>num</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Niveau</th>
                    <th>Date </th>
                    <th>Profondeur</th>
                    <th>Durée </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plongeur of plongeurs | async">
                    <td>{{plongeur.num}}</td>
                    <td>{{plongeur.prenom}}</td>
                    <td>{{plongeur.nom}}</td>
                    <td>{{plongeur.niveau}}</td>
                    <td>{{plongeur.datePlongee}}</td>
                    <td>{{plongeur.profondeur}}</td>
                    <td>{{plongeur.dureePlongee}}</td>
                    <td><button (click)="deletePlongeur(plongeur.num)" class="btn btn-danger">Delete</button>
                        <button (click)="updatePlongeur(plongeur.num)" class="btn btn-primary"
                            style="margin-left:10px">Update</button>
                        <button (click)="plongeurDetails(plongeur.num)" class="btn btn-info"
                            style="margin-left:10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>