<h3>création d'une plongée</h3>
<div [hidden]="submitted" style="width: 500px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="num">num</label>
            <input type="text" class="form-control" id="num" required [(ngModel)]="plongeur.num" name="num">
        </div>
        <div class="form-group">
            <label for="name">nom</label>
            <input type="text" class="form-control" id="nom" required [(ngModel)]="plongeur.nom" name="nom">
        </div>
        <div class="form-group">
            <label for="name">prenom</label>
            <input type="text" class="form-control" id="prenom" required [(ngModel)]="plongeur.prenom" name="prenom">
        </div>
        <div class="form-group">
            <label for="name">niveau</label>
            <input type="text" class="form-control" id="niveau" required [(ngModel)]="plongeur.niveau" name="niveau">
        </div>
        <div class="form-group">
            <label for="name">date de la plongée</label>
            <input type="text" class="form-control" id="datePlongee" required [(ngModel)]="plongeur.datePlongee"
                name="datePlongee">
        </div>
        <div class="form-group">
            <label for="name">profondeur de la plongée</label>
            <input type="text" class="form-control" id="profondeur" required [(ngModel)]="plongeur.profondeur"
                name="profondeur">
        </div>
        <div class="form-group">
            <label for="name">durée de la plongée</label>
            <input type="text" class="form-control" id="dureePlongee" required [(ngModel)]="plongeur.dureePlongee"
                name="dureePlongee">
        </div>
        <div class="form-group">
            <label for="name">description</label>
            <input type="text" class="form-control" id="description" required [(ngModel)]="plongeur.description" name="description">
        </div>
        <button type="submit" class="btn btn-success">envoyer</button>
    </form>
</div>
<div [hidden]="!submitted">
    <h4>Envoi réussi!</h4>
    <button class="btn btn-success" (click)="newPlongeur()">Add</button>
</div>