<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="plongeurs" class="nav-link" routerLinkActive="active">Liste des plongées</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Ajouter plongée</a>
    </li>
    <li class="nav-item">
      <a routerLink="demande" class="nav-link" routerLinkActive="active">demande de plongée</a>
    </li>
    <li class="nav-item">
      <a routerLink="about" class="nav-link" routerLinkActive="active">About</a>
    </li>
    <li class="nav-item">
      <a routerLink="logo" class="nav-link" routerLinkActive="active"><img src="assets/img/plongeur.jpg"></a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span>Footer</span>
  </div>
</footer>